* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

/* CARD */
.card {
  width: 350px;
  background: #111827;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ff4d4d;
}

/* TOPO */
.topo {
  height: 120px;
  background: linear-gradient(135deg, #ff2d2d, #7a0000);
}

/* FOTO */
.foto-container {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #111827;
  object-fit: cover;
}

/* CONTEÚDO */
.conteudo {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.area {
  color: #ff6b6b;
  margin-bottom: 10px;
}

.descricao {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

/* INFO BOX */
.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.box {
  background: #1f2937;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
}

.box i {
  margin-right: 6px;
  color: #ff6b6b;
}

.btn i {
  margin-right: 6px;
}

/* BOTÕES */
.botoes {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.verde {
  background: #22c55e;
  color: #fff;
}

.cinza {
  background: #374151;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}
