* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #0a0a0a; /* preto real */
}

/* CARD */
.card {
  width: 340px;
  padding: 25px;
  text-align: center;
  background: #111;
  border-radius: 15px;
  border: 1px solid #d18cf0;

  box-shadow: 
    0 0 10px #d18cf0,
    0 0 20px rgba(209,140,240,0.6),
    0 0 40px rgba(209,140,240,0.3);

  color: #fff;
  transition: 0.3s;

  animation: glowPulse 2s infinite alternate;
}

/* AGORA SIM separado corretamente */
@keyframes glowPulse {
  from {
    box-shadow: 
      0 0 10px #d18cf0,
      0 0 20px rgba(209,140,240,0.6),
      0 0 40px rgba(209,140,240,0.3);
  }
  to {
    box-shadow: 
      0 0 20px #d18cf0,
      0 0 40px rgba(209,140,240,0.8),
      0 0 70px rgba(209,140,240,0.5);
  }
}
  
/* FOTO */
.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

/* TEXTOS */
h2 {
  margin-bottom: 5px;
}

.area {
  color: #cfa9ff;
}

.resumo {
  color: #ddd;
}

.info p {
  color: #ccc;
}

/* BOTÃO */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;

  background: transparent;
  border: 1px solid #d18cf0;
  color: #d18cf0;

  border-radius: 8px;
  text-decoration: none;

  transition: 0.3s;
}

.btn:hover {
  background: #d18cf0;
  color: #000;

  box-shadow: 
    0 0 10px #d18cf0,
    0 0 20px #d18cf0;
}

.card:hover {
  transform: translateY(-5px);

  box-shadow: 
    0 0 15px #d18cf0,
    0 0 30px #d18cf0,
    0 0 60px rgba(209,140,240,0.5);
}
