* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* CARD */
.card {
  width: 340px;
  padding: 25px;
  text-align: center;

  /* efeito glass moderno */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.2);

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  color: #fff;
}

/* FOTO */
.foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

/* TEXTOS */
h2 {
  margin-bottom: 5px;
}

.area {
  font-size: 13px;
  color: #ddd;
  margin-bottom: 15px;
}

.resumo {
  font-size: 14px;
  margin-bottom: 12px;
}

.info p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #2ecc71;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #27ae60;
  transform: scale(1.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}
